{% extends 'base.html' %}
{% block title %}Notes{% endblock title %}
{% block title_h1 %}{% endblock title_h1 %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <h2>{{ note.label }}</h2>
        <h2>{{ note.created_at|date:"d.m.y H:i" }}</h2>
        <p>{{ note.text }}</p>
        <a href="{% url 'notes:edit' note.id %}">Edit</a>
    </form>
    <form method="POST" action="{% url 'notes:delete' note.id %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
{% endblock content %}